<section class="w-3/5 mx-auto bg-yellow-200 shadow-2xl rounded px-10 px-20">
    <h1 class="text-7xl">Registro de usuario</h1>

    <label class="text-lg w-80">Correo electrónico</label>
    <div>
        <input type="text" class="w-80" name="correo" [(ngModel)]="correo">
    </div>
    
    <label class="text-lg">Apellidos</label>
    <div>
        <input type="text" class="w-80" name="apellidos" [(ngModel)]="apellidos">
    </div>

    <label class="text-lg">Nombres</label>
    <div>
        <input type="text" class="w-80" name="nombres" [(ngModel)]="nombres">
    </div>

    <label class="text-lg">Contraseña</label>
    <div>
        <input type="password" class="w-80" name="credencial" [(ngModel)]="credencial">
    </div>

    <label class="text-lg">Repetir contraseña</label>
    <div>
        <input type="password" class="w-80" name="credencialRepeticion" [(ngModel)]="credencialRepeticion">
    </div>

    <div>
        <select name="idProducto" [(ngModel)]="idProducto">
            <option *ngFor="let item of lista; let indice = index" [value]="item.id">
                {{item.nombre}}
            </option>
        </select>
    </div>

    <button  class="text-2xl bg-blue-500 text-white rounded" (click)="registrar()">Registrar</button>
</section>
<p>{{mensaje}}</p>