@mixin bordeGris {
    border: 2px solid #cecece;
}
.panel{
    font-size: 4rem!important;
    img{
        @include bordeGris;
    }
    h6{
        margin-left: 20%;
        @include bordeGris;
    }
}