<div class="panel" *ngIf="producto != null">
    <img [src]="producto.urlImagen" class="h-80">
    <h6 class="text-center text-sm text-gray-400">{{producto.peso}}</h6>
    <p class="text-center font-bold text-sm">{{producto.nombre}}</p>
</div>
