<input type="text" name="nombre-producto" id="nombre-producto" [(ngModel)]="nombreProducto">
<input type="text" name="nombre-marca" id="nombre-marca" [(ngModel)]="nombreMarca">
<input type="number" name="precio-min" id="precio-min" [(ngModel)]="precioMinimo">
<input type="number" name="precio-max" id="precio-max" [(ngModel)]="precioMaximo">
<button type="button" (click)="buscarProductos()">Buscar productos</button>
<section *ngFor="let item of productos; let indice = index">
    <p>{{item.nombre}}</p>
    <p>{{item.marca.nombre}}</p>
    <img [src]="item.urlImagen">
</section>

