<header class="flex flex-wrap flex-col md:flex-row justify-between bg-blue-500 px-3 py-3 md:items-center md:space-x-4 relative">
  <a class="block">
    <span class="sr-only">Fiis</span>
    <img class="h-8" src="http://www.fiis.uni.edu.pe/images/logotipos/FIIS_LOGO1.png" alt="logo">
  </a>
  <button class="inline-block md:hidden w-8 h-8 bg-gray-200 text-gray-600 p-1">
    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
  </button>
  <nav class="absolute md:relative z-20 top-16 md:top-0 left-0 flex flex-col md:flex-row md:space-x-6 font-bold text-white text-xl bg-blue-500 w-full md:w-auto p-3 md:p-0">
    <a class="block py-2 cursor-pointer hover:underline">Inicio</a>
    <a class="block py-2 cursor-pointer hover:underline">Productos</a>
    <a class="block py-2 cursor-pointer hover:underline">Búsqueda avanzada</a>
    <a class="block py-2 cursor-pointer hover:underline">Carrito de compra</a>
    <a class="block py-2 cursor-pointer hover:underline">Historial de compras</a>
    <a class="block py-2 cursor-pointer hover:underline">Reclamo</a>
  </nav>
</header>


<h1>Mi primera página Web</h1> 
<p>Angular es sencillo <i class="fas fa-grin-beam"></i> de aprender</p>

<h2>{{mensaje}}</h2>
<img src="assets/imagenes/producto/mariadb.png">
<button id="boton-flotante" class="bg-red-700">Flotante</button>
<input type="text" name="cantidad" id="cantidad" [(ngModel)] ="cantidad">
<input type="text" name="cantidad2" id="cantidad2" class="border-sm">
<div *ngFor="let it of elementos">
    <input type="radio" name="numero" id="numero1" class="w-24 h-10">
    <label for="numero">25</label>
    <input type="radio" name="numero" id="numero2" class="w-24 h-10">
    <label for="numero">30</label>
</div>
<button (click)="iterarElementos()">Iterar</button>
<app-listado></app-listado>

<button (click)="cambiarMensaje()">Iniciar</button>

<section *ngIf="mensaje != ''" class="modal h-screen w-screen bg-gray-600 opacity-50">
    <div class="w-96 h-80 mx-auto bg-white opacity-100">
        <h1 class="text-5xl text-blue-700">Confirmación de venta</h1>
        <p class="text-2xl text-green-500">La operación fue exitosa</p>
    </div>
</section>
