html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
form{
    border: 1px solid #00ffff;
    border-radius: 2rem;
    box-shadow: #cecece 0.25rem 0.25rem;
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 2rem 2rem 2rem;
    width: 48vw;
    float: left;
}
body{
    font-family: "Roboto Thin",Arial,sans-serif;
    font-size: 1.5rem;
}
div, p{
    margin-bottom: 1rem;
}
.entrada{
    width: 20vw;
    height: 1.5rem;
}
.azul{
    color: #6495ed;
}
#formulario{
    text-align: right;
}
#boton{
    background-color: #00bfff;
    color: #ffffff;
    width: 15vw;
    height: 9vh;
    font-size: 3rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
}
#boton:hover {
    background-color: gold;
    color: #000000;
    cursor: pointer;
}
input[type=text]:focus{
    border: 2px solid gold;
}
img{
    width: 40vw;
    float: left;
}
.gigante{
    font-size: 5rem!important;
    color: deepskyblue!important;
}