<input type="text" name="correo" id="correo" [(ngModel)]="correo" placeholder="Ingrese correo">
<input type="password" name="credencial" id="credencial" [(ngModel)]="clave" placeholder="Ingrese clave">
<button (click)="ingresar()">Ingresar</button>
<a routerLink="/registro">Registrese</a>
<p id="datos">{{mensaje}}</p>
